---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.sublecture_title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        Letztes Update: {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }}.
        {% case m %}
             {% when '1' %}Januar
             {% when '2' %}Februar
             {% when '3' %}März
             {% when '4' %}April
             {% when '5' %}Mai
             {% when '6' %}Juni
             {% when '7' %}Juli
             {% when '8' %}August
             {% when '9' %}September
             {% when '10' %}Oktober
             {% when '11' %}November
             {% when '12' %}Dezember
        {% endcase %}
        {{ page.date | date: "%Y" }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
